table {
    max-width: 500px;
    min-width: 450px;
}

td div input{
    
    height: 25px;
    width: 100%;
}

.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hpt-1{
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 3px;
    position: absolute;
    left: 25px;
    top: -10px;
    width: 85px;
}

.hp-1{
    display: none;
    padding: 0 0.5rem;
    position: relative;
    user-select: none;
}

.hp-1:hover{
    cursor: help;
}