@charset "UTF-8";

/*tags*/
:root {
    --cor-link: #0000EE;
}

body {
    background-color: rgb(0, 102, 0);
}

a, a:visited {
    text-decoration: none;
    color: var(--cor-link);
}

h1 {
    text-align: center;
    font-size: var(--default-title-size);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: white;
}

header h1 {
    color: white;
    font-size: var(--default-header-text-size);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}


/*classes*/
.caixaContato {
    text-align: left;
    display: inline-block;
    background-color: gainsboro;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid black;
    box-shadow: 8px 5px 10px rgba(61, 61, 61, 0.558);
}


div.caixaContato h1{
    font-size: var(--default-title-size);
    margin: 0%;
}

div.caixaContato h2{
    margin: 0;
    font-size: var(--default-subtitle-size);
}

div.caixaContato li{
    margin-top: 5px;
}

.caixaEscolhas {
    background-color: rgb(78, 172, 226);
    width: 70%;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid black;
    margin: auto;
    box-shadow: 8px 10px 10px rgba(61, 61, 61, 0.558);
    background-image: linear-gradient(60deg,rgba(0, 0, 255, 0.501), rgba(0, 128, 0, 0.671));
}

div.caixaEscolhas a {
    font-size: var(--default-text-size);
    display: inline-block;
    background-color: rgb(214, 214, 214);
    padding: 3px;
    border-radius: 5px;
    border: 3px solid black;
}
.escola{
    background-color: white;
}

.caixaUnidades {
    width: fit-content;
    background-image: linear-gradient(45deg, rgb(209, 209, 209), rgb(187, 187, 187));
    padding: 10px;
    border: 3px solid gray;
    border-radius: 20px;
    box-shadow: 8px 5px 10px rgba(61, 61, 61, 0.558);
}

.tabelaResponsiva {
    overflow-x: auto;
    margin-bottom: 15px;
}

.inputNota2U, .inputNota4U, .inputNota2U_M-4, .inputNota2U_M-5{
    background-color: skyblue;
    border: none;

}
.table2U, .table4U{
    text-align:center; 
    margin-left:auto; 
    margin-right:auto; 
}

.texto_contato{
    display: none;
}
.texto_contato li a{
    color: rgba(28, 135, 223, 0.822);

}
.fa-arrow-down, .fa-arrow-up{
    font-size: 15px;
}

.cursor-pointer:hover{
    cursor: pointer;
}

.nome-contato, .seta-contato{
    user-select: none;
}

/*IDs*/
#helper-text4U{
    text-align: center;
    border: none;
}

/*
    div h1 {h1 dentro da div}

    div, h1 {h1 e div}
*/
